<form method="GET" action="/search">
  <div class="form-group">
    <label for="q">Search string</label>
    <input type="text" class="form-control" name="search" id="q" placeholder"Enter the App name" required>
  </div>
  <button type="submit" class="btn btn-warning">Search</button>
</form>